{
    "branches": ["master"],
    "repositoryUrl": "https://github.com/mParticle/mparticle-web-sdk-internal",
    "tagFormat": "v${version}",
    "plugins": [
        ["@semantic-release/release-notes-generator", {
            "repository": "custom-repo",
            "owner": "custom-owner"
        }],
        ["@semantic-release/changelog", { changelogFile: "CHANGELOG.md" }], ["@semantic-release/commit-analyzer"],
        ["@semantic-release/exec", {
            "verifyReleaseCmd": "sh ./release.sh ${lastRelease.version} ${nextRelease.version}",
        }],

    ],
    "ci": false,
    "dryRun": true
}